[submodule "commentconvert"]
	path = bilibili/CommentConvert
	url = https://github.com/typcn/danmaku2ass_native.git
[submodule "chromium-tabs"]
	path = chromium-tabs
	url = https://github.com/typcn/chromium-tabs.git
[submodule "GCDWebServer"]
	path = GCDWebServer
	url = https://github.com/typcn/GCDWebServer.git
